/* Google-font */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Poppins:wght@500&display=swap');

/* -----full-body------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



 /*---------------- Header-Part-Start-------------- */
 header{
    width: 80%;
    height: 646px;
    background-color: #161616;
    margin: 30px auto;
    border-radius: 30px;
    display: flex;
    
}

.article-part{
    width: 50%;
    color: whitesmoke;
    padding: 165px 85px;
}

.article-part h1{
    font-size: 55px;
    line-height: 75px;
}

.article-part p{
    font-size: 14px;
    line-height: 30px;
}

.btn-1{
    text-decoration: none;
    background-color: #DD0000;
    padding: 10px 20px;
    line-height: 75px;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    transition:  0.8s;
}

.btn-1:hover{
    background-color: white;
    color: black;
} 


.fa-circle-right{
    padding: 0 4px;
    text-align: center;
 }


.img-part{
    width: 50%;
}

.img-part img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 78px;
}

/*-------------- Header-Part-End----------------- */


/*---------- Main-Part-Start------------- */


main{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.full-container{
    display: flex;
    gap: 25px;
   
}

.menu-full{
    width: 25%;
}


.menu-part{
    
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    
    
}
.btn-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-2{
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 30px;
}

#btn-3{
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 60px;
    border-radius: 10px;
    margin-top: 40px;
}

#btn-4{
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 83px;
    border-radius: 10px;
    margin-top: 30px;
}



.blog-part{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    
}


.blog-2{
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    
}

.img-blog{
    margin-bottom: 20px;
}

.img-blog img{
    width: 100%;
}

.content-blog{
    text-align: justify;
}


.content-blog h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    margin: 20px;
}

#btn-5{
    border: 2px solid black;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    padding: 5px 18px;
    margin-left: 20px;
    
}

#btn-6{
    text-decoration: none;
    margin: 20px;
    color: #161616;

}
.fa-clock{
    padding-right: 10px;
}

#btn-7{
    text-decoration: none;
    margin: 20px;
    color: #161616;
}

.fa-comment-dots{
    padding-right: 10px;
}

/*--------------- Main-Part-End------------- */



/*------------- Footer-Part-Start------------ */

.footer-container{
    background-color: #161616;
    width: 100%;
    height: 460px;
}

.ftr-text{
    color: whitesmoke;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 50px;
}

hr{
    border: 1px solid rgba(255, 255, 255, 0.041);
    width: 80%;
    margin: 0 auto;
}

.nav-1{
    text-align: center;
    margin: 25px;
    padding: 10px 0;
    
}


.nav-1 a{
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    padding-left: 60px;
}

.nav-2{
    text-align: center;
    margin-top: 30px;
    
}

.nav-2 a{
    color: whitesmoke;
    padding: 0 20px;
    transition: .8s;
}

.nav-2 a:hover{
   
    color: #DD0000;
    cursor: pointer;
    font-size: larger;
}



/*--------------- Footer-Part-End------------ */



/*----------- Responsive-Layout-For-Mobile-View-------------- */

@media only screen and (min-width: 320px) and (max-width: 480px) {

/* -------Header-part-Start------- */

    header{
        display: block;
        text-align: center;
        height: auto;
        
    }    

    .article-part{
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }
    .article-part h1{
        font-size: 14px;
        line-height: 26px;
        padding: 13px;
    }
    .article-part p{
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .btn-1{
        padding: 15px 10px;
        margin: 0 -60px;
        
    }


    .img-part{
        margin: 0 auto;
        width: 62%;
        
    }
    .img-part img{
        width: 115%;
        margin-top: 20px;
        
    }
/* ------Header-part-End-------- */



/*------- Main-Part-start----- */

main{
    width: 80%;
    margin: 0 auto;
}

.full-container{
  display: flex;
  flex-direction: column;


}
.menu-full{
    width: 25%;
    
}

.menu-part{
    background: transparent;
}

#btn-2{
    border: 1px solid #E8E8E8;
}
#btn-3{
    border: 1px solid #E8E8E8;
}

.blog-part{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    margin-bottom: 30px;
    
}

/*--------------- Main-Part-End------------- */


/*---------- Footer-Part-Start------------ */

.footer-container{
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.ftr-text{
    color: whitesmoke;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 32px;
}



.nav-1{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -39px;
    gap: 30px;
}

.nav-1 a{
    text-align: center;
}

.nav-2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -7px;
    gap: 30px;
}

}
/*----------- Footer-Part-End------------- */

/*----------- Responsive-Layout-For-Mobile-View-End------------ */





/*------------- Responsive-Layout-For-Tablet/Ipad-View----------------------- */

@media only screen and (min-width: 481px) and (max-width: 786px) {

    
    header{
        width: 80%;
        height: auto;
        display: flex;
    }


    main{
        width: 80%;
        margin: 0 auto;
    }

    

    
}